div li {
    list-style: none;
    padding-top: 15px;
    font-size: 20px;
}

button {
    background: red;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}
